<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>542194831976-4sm46vvttgn61htokuche51ieh5q7jsc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.542194831976-4sm46vvttgn61htokuche51ieh5q7jsc</string>
	<key>API_KEY</key>
	<string>AIzaSyDxTGyK5uPL5UO-c3lKroQ7x2pqZ-q2bxI</string>
	<key>GCM_SENDER_ID</key>
	<string>542194831976</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AviPogrow.NasiShadchanHelper</string>
	<key>PROJECT_ID</key>
	<string>nasiapp</string>
	<key>STORAGE_BUCKET</key>
	<string>nasiapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:542194831976:ios:c466c60d5573f54c70a1dd</string>
	<key>DATABASE_URL</key>
	<string>https://nasiapp.firebaseio.com</string>
</dict>
</plist>